@import 'settings';

.project {
    background: url("../assets/img/bgpoly.jpg") -600px 0 no-repeat;
    border-radius: 1rem;
    color: $black;
    margin-bottom: 1rem;
    padding: 2rem;

    @include breakpoint(medium down) {
        //background-position: -600px -200px;
        background-position: 0 0;
        background-size: cover;
    }

    h2 {
        font-size: 120%;
        @include breakpoint(medium down) {
            color: $black;
        }
    }

    h2, p {
        background: rgba(255,255,255,0.3);     
        padding: 0.6rem;
    }

    p {
        background: rgba(255,255,255,0.4);
    }

    .material-icons {
        color: $black;
    }
}

.research {
    @extend .project;
    background: url("../assets/img/bgpoly.jpg") 0 -50px no-repeat;

    @include breakpoint(medium down) {
        background-position: -160px 0;
    }

    h2 {
        @include breakpoint(medium up) {
            color: $black;
        }
    }

    .material-icons {
        color: $black;
        font-size: 120%;
    }
}